extends layout

block content
  h1= title
  img(src="/upload/09d37981a44ec804f106ca852111d4a3.png")
  p Welcome to #{title}
  ul
    each val in articlesPreview
      li
        h2
          a(href="/articles/" + val._id)=val.title
        p=val.preview
  a(href="?page=1") начало
  - var n = 1;
  while n <= PagesCount
    a(href="?page=" + n)=n++
  
  a(href="?page=" + PagesCount) конец